.beauty-trends {
    padding: 75px 0 56px;
    @media(min-width: 1200px) {
        padding-top: 92px;
    }
    .beauty-trends-title {
        text-align: center;
        margin-bottom: 50px;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:after {
            content: '';
            display: block;
            width: 7.4rem;
            height: 1px;
            background-color: $after-section-bg;
            margin: 25px auto 0;            
        }
        @media(min-width: 576px) {
            text-align: left; 
            letter-spacing: 5px;
            line-height: 45px;
            font-size: 30px;
            &:after {
                margin: 25px 0 0;
            }
        }
    }
    
    .beauty-trends-page {
       
    h2 {
        margin-bottom: 30px;
        font-family: $lato;
        font-weight: 400;
        font-size: 25px;
        line-height: 50px;
        text-transform: uppercase;
        width: 60%;
        @media(min-width: 768px) {
            font-size: 35px;
        }
         @media(min-width: 992px) {
            font-size: 44px;
        }
    }
    p {       
        line-height: 26px;
        @media(min-width: 768px) {
            font-size: 20px;
            line-height: 28px;
        }
        &:first-of-type {
            margin-bottom: 29px;
            @media(min-width: 768px) {
                  margin-bottom: 66px;
            }
        }       
    }
    img {
        display: block;
        margin-bottom: 29px;
        @media(min-width: 768px) {
             margin-bottom: 66px;
        }
    }
    }
    
    
 
    .beauty-trends-content {
        padding: 22px 19px 57px;
        width: 80%;
        margin: -80px auto 0;
        background-color: #fff;
        position: relative;      
    }
    
    .pagination {
        .page-item {
            &.active {
                .page-link {
                    color: #1E1E1E;
                    font-weight: bold;
                    background-color: transparent;
                }
            }
        }
        .page-link {
            font-family: $bodoni;
            line-height: 24px;          
            border: none;
            padding: 0 10px;
            &:hover {
                background-color: transparent;
            }
        }
    }
    
}
