$main-heading-color: #fff;

.hero {
    margin-top: 4.9rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0 13rem;
    @media(min-width: 768px) {
        margin-top: 10.8rem;
        padding: 15rem 0 18rem;
    }
    @media(min-width: 992px) {
        padding: 18rem 0 23rem;
    }
    @media(min-width: 1200px) {
        padding: 21.8rem 0 26.9rem;
        background-attachment: fixed;
    }
    .container {
        @media(min-width: 450px) {
            width: 60%;
        }
        h1 {
            color: $main-heading-color;
            text-align: center;
            line-height: 5rem;
            letter-spacing: 5px;
            font-size: 4rem;
            @media(min-width: 576px) {
                font-size: 4.5rem;
                line-height: 6rem;
            }
            @media(min-width: 768px) {
                font-size: 5rem;
                line-height: 7rem;
                letter-spacing: 1rem;
            }
            @media(min-width: 992px) {
                font-size: 6rem;
                line-height: 8.4rem;
                letter-spacing: 2rem;
            }
        } // h1 end
        .hero-error {
            font-size: 1.4rem;            
            border: 1px solid #fff;
            letter-spacing: 0.5px;
            line-height: 1.7rem;
            color: #fff;
            transition: all 0.2s linear;
            &:hover {
                background-color: $secondary;
                color: #1E1E1E;
                border: 1px solid $secondary;
            }
        } // hero-error end
    } // container end
} // hero end

