.info {
    padding: 3rem 0;
    @media(min-width: 768px) {
        padding: 6rem 0;
    }
    .info-text {
        font-family: $lato;
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 2.5rem;
        @media(min-width: 768px) {
            font-size: 2rem;
        }
        @media(min-width: 1200px) {
            font-size: 2.4rem;
        }    
    } // info-text end
} // info end

