
.team {
    padding: 8rem 0 6.7rem;
    h2 {
        text-align: center;
        margin-bottom: 5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:after {
            content: '';
            display: block;
            width: 7.4rem;
            height: 1px;
            background-color: $after-section-bg;
            margin: 2.5rem auto 0;            
        }
        @media(min-width: 576px) {
            text-align: left; 
            letter-spacing: 5px;
            line-height: 4.5rem;
            font-size: 3rem;
            &:after {
                margin: 2.5rem 0 0;
            }
        }       
    } // h2 end
    .team-item {
        border: 1px solid $secondary;
        @media(min-width: 576px) {
            padding: 2rem 3rem;
        }
        @media(min-width: 768px) {
            padding: 4rem 6rem;
        }
        @media(min-width: 1200px) {
            padding: 5.4rem 9.5rem;
        }      
        h3 {
            a {
                font-family: $lato;
                font-weight: 400;
                @media(min-width: 1200px) {
                    font-size: 3rem;
                    line-height: 2.7rem;  
                }
            } 
        } 
        p {            
            font-size: 1.4rem;
            line-height: 2.3rem;
            @media(min-width: 768px) {
                font-size: 1.6rem;
            }   
        } 
    } // team-item end
} // team end